In [1]:
from urllib import request
import re
import pandas as pd
import urllib.parse as urp
import requests

import csv

In [2]:
def __get_location1__(name,city):  
        my_ak = 'uXuYBYbI90SdKOGSjIqgDnthz6DrkFN4'   
        qurey = urp.quote(name)
        try:
            url = 'http://api.map.baidu.com/place/v2/search?query='+qurey+'&tag='+'&region='+urp.quote(city)+'&output=json&ak='+my_ak
            #print(url)
            req = request.urlopen(url)
            res = req.read().decode()
            lat = pd.to_numeric(re.findall('"lat":(.*)',res)[0].split(',')[0])
            lng = pd.to_numeric(re.findall('"lng":(.*)',res)[0])
            return (lng,lat)  #经度和纬度
        except:
            return 0,0

In [3]:
print(__get_location1__('紫华佳苑','上海'))

(121.543922, 31.278916)

# 58同城

In [3]:
df = pd.read_excel('datasets/58.xls')
df=df.drop(columns=["区","来源","标题","序号","标签"])
sample = df
sample.head()

     价格  室  厅     面积         小区
0  6700  2  0  65.00       山西小区
1  8500  2  2  91.00  明园森林都市滴翠苑
2  2600  2  1  56.07   四元路20弄小区
3  5500  2  2  84.00  明园森林都市滴翠苑
4  6800  1  2  78.00       紫华佳苑

In [4]:
df['经度']=0
df['纬度']=0
df = df[['经度','纬度','室','厅','面积','价格','小区']]
df.head()

   经度  纬度  室  厅     面积    价格         小区
0   0   0  2  0  65.00  6700       山西小区
1   0   0  2  2  91.00  8500  明园森林都市滴翠苑
2   0   0  2  1  56.07  2600   四元路20弄小区
3   0   0  2  2  84.00  5500  明园森林都市滴翠苑
4   0   0  1  2  78.00  6800       紫华佳苑

In [ ]:
df['经度']=0
df['纬度']=0

location = df['小区']
lng = []
lat = []

for loc in location:
    address=__get_location1__(str(loc),'上海')
    
    while address == (0,0):
        for i in range(10):
            address = __get_location1__(str(loc),'上海')
            if address ==(0,0):
                continue
            else:
                break
        break
    
    lng.append(str(address[0]))
    lat.append(str(address[1]))

df['经度']=lng
df['纬度']=lat

df.head()

In [7]:
df.drop(columns=["小区"])
df.to_excel('58_new.xls')

# 贝壳

In [9]:
xlsx = pd.ExcelFile("datasets/beiker.xlsx")
df = pd.read_excel(xlsx, 0)
df1 = pd.read_excel(xlsx, 1)
df2 = pd.read_excel(xlsx, 2)
df3 = pd.read_excel(xlsx, 3)
df = df.append(df1)
df = df.append(df2)
df = df.append(df3)
df = df.drop(columns="序号")
df.head()
df=df.drop(columns=["标题","标签"])
df = df.rename(columns = {'平米': '面积', '地址': '小区'}, inplace = False)
df['经度']=0
df['纬度']=0
df = df[['经度','纬度','室','厅','面积','价格','小区']]
df.head()

   经度  纬度  室  厅  面积    价格           小区
0   0   0  1  1  37  4400     长宁西郊王满小区
1   0   0  2  0  49  4450  徐汇华东理工梅陇十一村
2   0   0  1  1  32  4700     徐汇田林田林六村
3   0   0  1  1  39  4200      徐汇康健寿昌坊
4   0   0  1  1  44  3500     徐汇长桥长桥六村

In [ ]:
location = df['小区']
lng = []
lat = []

for loc in location:
    address=__get_location1__(str(loc),'上海')
    
    while address == (0,0):
        for i in range(5):
            address = __get_location1__(str(loc),'上海')
            if address ==(0,0):
                continue
            else:
                break
        break
    
    lng.append(str(address[0]))
    lat.append(str(address[1]))

df['经度']=lng
df['纬度']=lat

df.head()

In [ ]:
df.drop(columns=["小区"])
df.to_excel('beike_new.xls')

# 安居客

In [ ]:
xlsx = pd.ExcelFile("datasets/anjuke.xls")
df = pd.read_excel(xlsx, 0)
df = df.drop(columns="序号")
df.head()
df=df.drop(columns=["标题","标签","地址","楼层"])
df = df.rename(columns = {'平米': '面积'}, inplace = False)
df['经度']=0
df['纬度']=0
df = df[['经度','纬度','室','厅','面积','价格','小区']]
df.head()

In [6]:
location = df['小区']
lng = []
lat = []

for loc in location:
    address=__get_location1__(str(loc),'上海')
    
    while address == (0,0):
        for i in range(5):
            address = __get_location1__(str(loc),'上海')
            if address ==(0,0):
                continue
            else:
                break
        break
    
    lng.append(str(address[0]))
    lat.append(str(address[1]))

df['经度']=lng
df['纬度']=lat

df.head()

  经度 纬度  室  厅    面积    价格         小区
0  0  0  1  1  58.0  1800    美罗家园罗翔苑
1  0  0  1  1  58.0  1800  美罗家园宝欣苑九村
2  0  0  1  1  55.0  1800    美罗家园年吉苑
3  0  0  1  1  55.0  1800    美罗家园罗秀苑
4  0  0  1  1  55.0  1800    美罗家园罗翔苑

In [ ]:
df.drop(columns=["小区"])
df.to_excel('anjuke_new.xls')

# Ziroom

In [ ]:
xlsx = pd.ExcelFile("datasets/anjuke.xls")
df = pd.read_excel(xlsx, 0)
df = df.drop(columns="序号")
df.head()
df=df.drop(columns=["标题","标签","地址","楼层"])
df = df.rename(columns = {'平米': '面积'}, inplace = False)
df['经度']=0
df['纬度']=0
df = df[['经度','纬度','室','厅','面积','价格','小区']]
df.head()

In [ ]:
location = df['小区']
lng = []
lat = []

for loc in location:
    address=__get_location1__(str(loc),'上海')
    
    while address == (0,0):
        for i in range(5):
            address = __get_location1__(str(loc),'上海')
            if address ==(0,0):
                continue
            else:
                break
        break
    
    lng.append(str(address[0]))
    lat.append(str(address[1]))

df['经度']=lng
df['纬度']=lat

df.head()

In [ ]:
df.drop(columns=["小区"])
df.to_excel('ziroom_new.xls')